body {
  background-color: #33aeae;
}

.siteTitle {
  position: sticky;
  margin: 0px 0 0 25px;
  z-index: 9999999;
  color: #fff;
  filter:drop-shadow(2px 2px #33aeae);
  text-shadow: 2px 2px #55aeae, -2px -2px #55aeae;
  font-size: 3vw;
  letter-spacing: 3px;
  padding: 0;

}

#clouds {
  opacity: 0.1;
}


#SchutzParalax {
  width: 100%;
  margin: 10vw 0 0 50vw;
}

#ClockParalax {
  width: 120%;
  margin: 10vw 0 0 53vw;
}

/* Call to action text below */


/* #ctabody{
margin: 10vw 0 0 10vw;
max-width: 20vw;
position: absolute;
z-index: 999999999999;
} */

.siteCta {
  margin:  0 0 0 0;
}

#cta-titleOne {
color: white;
text-align: right;
font-weight: 800;
width: 360px;
font-size: 2vw;
margin: -100px 0 0 0;
position: absolute;
z-index: 9999999999999999999999999;
}

#cta-copy {
  color: #efd387;
  text-align: right;
  margin: -20px 0 0 0;
  font-size: 1.2vw;
  width: 360px;
  position: absolute;
  z-index: 9999999999999999999999999;
}

#logIn-btn1 {
  margin: 100vh 0 0 2vw;
  outline: transparent!important;
  border-radius: 15px 15px 3px 3px;
  padding: 6px 30px 6px 30px;
  width: 18vw;
  min-width: 140px;
  font-weight: 800;
  position: relative;
  bottom: 0;
  z-index: 9999999999999999999999999;
  background-color: #efd387;
}

#logIn-btn1:hover,
#logIn-btn2:hover,
#signUp-btn1:hover,
#signUp-btn2:hover {
  filter: invert(100%);
}

/* @media only screen and (max-width: 800px) {
#logIn-btn {

  }
} */

#signUp-btn1 {
  margin:  94vh 0 0 2vw;
  outline: transparent!important;
  border-radius: 3px 3px 15px 15px;
  padding: 6px 30px 6px 30px;
  color: white;
  width: 18vw;
  min-width: 140px;
  font-weight: 800;
  position: absolute;
  z-index: 9999999999999999999999999;
  background-color: rgb(73, 73, 73);
}

#logIn-btn2 {
  margin: 30px 0 0 6.6vw;
  outline: transparent!important;
  border-radius: 15px 15px 3px 3px;
  padding: 6px 30px 6px 30px;
  width: 18vw;
  min-width: 140px;
  font-weight: 800;
  position: absolute;
  z-index: 9999999999999999999999999;
  background-color: #efd387;
}

/* @media only screen and (max-width: 800px) {
#logIn-btn {

  }
} */

#signUp-btn2 {
  margin:  60px 0 0 6.6vw;
  outline: transparent!important;
  border-radius: 3px 3px 15px 15px;
  padding: 6px 30px 6px 30px;
  color: white;
  width: 18vw;
  min-width: 140px;
  font-weight: 800;
  position: absolute;
  z-index: 9999999999999999999999999;
  background-color: rgb(73, 73, 73);
}

#body__body {
  height: 900px;
  position: absolute;
  z-index: 9999999999999999999999999;
  margin: 320px 0 0 10vw;
}