
#promo_display-container {
    width: 100vw;
    height: 400px;
    position: relative;
    bottom: 0;
    margin: 0 0 200px 0;
    background-color: white;
}


#promo_desktop {
    background-color: #555555;
    height: 20vh;
    width: 25vw;
    position: absolute;
margin: 30vh 0 0 5vw;
padding: 0 0 0 0;
z-index: 1;
top: 0;
left: 0;
box-shadow: -70px -66px 8px rgba(0, 0, 0, 0.335);

    -moz-transform: skew(0deg, -25deg);
-webkit-transform: skew(0deg, -25deg);
-o-transform: skew(0deg, -25deg);
-ms-transform: skew(0deg, -25deg);
transform: skew(0deg, -25deg);

}

#promo_laptop {
    background-color: pink;
    height: 15vh;
    width: 15vw;
    position: absolute;
margin: 28vh 0 0 28vw;
padding: 0 0 0 0;
z-index: 2;
top: 0;
left: 0;
filter: drop-shadow(-37px -2px 2px rgba(0, 0, 0, 0.3));
overflow: hidden;

    -moz-transform: skew(0deg, -25deg);
-webkit-transform: skew(0deg, -25deg);
-o-transform: skew(0deg, -25deg);
-ms-transform: skew(0deg, -25deg);
transform: skew(0deg, -25deg);

}

#promo_tablet {
    height: 10vh;
    width: 14vw;
    position: absolute;
margin: 54.6vh 0 0 9.8vw;
padding: 0 0 0 0;
z-index: 3;
top: 0;
left: 0;
    -moz-transform: skew(0deg, -25deg);
    -webkit-transform: skew(0deg, -25deg);
    -o-transform: skew(0deg, -25deg);
    -ms-transform: skew(0deg, -25deg);
    transform: skew(50deg, -25deg);
}

#promo_smartPhone {
    height: 15vh;
    width: 4vw;
    position: absolute;
margin: 40vh 0 0 25vw;
padding: 0 0 0 0;
z-index: 4;
top: 0;
left: 0;
    -moz-transform: skew(0deg, -25deg);
    -webkit-transform: skew(0deg, -25deg);
    -o-transform: skew(0deg, -25deg);
    -ms-transform: skew(0deg, -25deg);
    transform: skew(0deg, -25deg);
}

#promo_phone-shadow {
    width: 6vw;
    height: 4vh;
    position: absolute;
    border-radius: 5px;
    z-index: 3;
    top: 0;
left: 0;
margin: 26vh 0 0 30vw;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, -0deg);
}


/* #cardOne {
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    } */

    
    #cardThree {
        animation-name: slide;
        animation-duration: 5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;
        animation-delay:1s; 
        }
    

        #cardOne {
            animation-name: slide;
            animation-duration: 5.5s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
            animation-direction: alternate-reverse;
            animation-delay:1.5s; 
            }

            #cardTwo {
                animation-name: slide;
                animation-duration: 4.5s;
                animation-timing-function: ease-in;
                animation-fill-mode: forwards;
                animation-direction: alternate-reverse;
                animation-delay:3s; 
                }

    @keyframes slide {
        from {transform: translateX(0);}
        to {transform: translateX(70vw);}
    }

    @keyframes slide2 {
        from {transform: translateX(70vw);}
        to {transform: translateX(0);}
    }
