#promo_display-container {
    width: 100vw;
    height: 400px;
    position: relative;
    bottom: 0;
    margin: 0 0 200px 0;
    background-color: white;
}

#promo_desktop {
    background-color: #33aeae;
    height: 30vh;
    min-width: 320px;
    min-height: 210px;
    width: 40vw;
    border-radius: 8px;
    position: absolute;
    margin: 30vh 0 0 15vw;
    padding: 0 0 0 0;
    z-index: 1;
    top: 0;
    left: 0;
    filter: drop-shadow(-40px -40px 6px rgba(0, 0, 0, 0.1));
        -moz-transform: skew(0deg, -25deg);
        -webkit-transform: skew(0deg, -25deg);
        -o-transform: skew(0deg, -25deg);
        -ms-transform: skew(0deg, -25deg);
    transform: skew(0deg, -25deg);
    

}

#promo_laptop {
    background-color: pink;
    height: 25vh;
    width: 25vw;
    border-radius: 8px;
    position: absolute;
    margin: 30vh 0 0 55vw;
    padding: 0 0 0 0;
    z-index: 2;
    top: 0;
    left: 0;
    filter: drop-shadow(-37px -2px 2px rgba(0, 0, 0, 0.3));
    overflow: hidden;
        -moz-transform: skew(0deg, -25deg);
        -webkit-transform: skew(0deg, -25deg);
        -o-transform: skew(0deg, -25deg);
        -ms-transform: skew(0deg, -25deg);
    transform: skew(0deg, -25deg);

}

#promo_tablet {
    height: 17vh;
    width: 24vw;
    min-width: 240px;
    position: absolute;
    margin: 68vh 0 0 22.6vw;
    padding: 0 0 0 0;
    z-index: 3;
    top: 0;
    left: 0;
    border-radius: 8px;
        -moz-transform: skew(0deg, -25deg);
        -webkit-transform: skew(0deg, -25deg);
        -o-transform: skew(0deg, -25deg);
        -ms-transform: skew(0deg, -25deg);
    transform: skew(50deg, -25deg);
}

#promo_smartPhone {
    background-color: #999999;
    height: 23vh;
    width: 6.4vw;
    min-width: 80px;
    min-height: 150px;
    border-radius: 8px;
    position: absolute;
    margin: 46vh 0 0 50vw;
    padding: 0 0 0 0;
    z-index: 4;
    top: 0;
    left: 0;
        -moz-transform: skew(0deg, -25deg);
        -webkit-transform: skew(0deg, -25deg);
        -o-transform: skew(0deg, -25deg);
        -ms-transform: skew(0deg, -25deg);
    transform: skew(0deg, -25deg);
}

#promo_phone-shadow {
    width: 6vw;
    height: 4vh;
    position: absolute;
    border-radius: 5px;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 26vh 0 0 30vw;
        -moz-transform: skew(0deg, 0deg);
        -webkit-transform: skew(0deg, 0deg);
        -o-transform: skew(0deg, 0deg);
        -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, -0deg);
}

/* #liBtn {
  background-color: rgb(1, 35, 54)!important;
  color: #fff!important;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2)!important;
}


#ReBtn {
  background-color: rgb(245, 218, 66)!important;
  color: #000!important;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.2)!important;
} */