body {
  /* background: linear-gradient(#66CCCC, #55AEAE, #33AEAE, BLACK); */
}



#clouds {
  margin: 0 0 0 0;
  filter: blur(5px);
  opacity: 0.2;
  animation: drift 25s 1s linear infinite backwards;
}

#CloudsUp {
filter: blur(5px);
  opacity: 1;
  animation: driftTwo 40s 1s linear infinite backwards;
}

@keyframes drift {
from{transform: translateX(-255px);}
to {transform: translateX(1350px);}
}

@keyframes driftTwo {
  from{transform: translateX(-255px);}
  to {transform: translateX(1350px);}
  }

#SchutzParalax {
  width: 100%;
  margin: 10vw 0 0 50vw;
}

#ClockParalax {
  width: 120%;
  margin: 12vw 0 0 55vw;
}

* {
  max-width: 100vw!important;
max-height: auto;
 
}

details summary::-webkit-details-marker {
  display:none!important;
}

a:focus{
  outline: transparent!important;
}

a:active{
  outline: transparent!important;
}

a:hover{
  outline: transparent!important;
}

a{
  outline: transparent!important;
}

#mainHomeCont {
    background: linear-gradient(#55cccc, #55aeae, black);
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0!important;
}
