* {
overflow: none!important;
}



#clouds {
  margin: 0 0 0 0;
  filter: blur(6px);
  opacity: 0.7;
  scale: 2;
  animation: drift 25s 1s linear infinite backwards;
}

#CloudsUp {
filter: blur(1px);
  opacity: 1;
  animation: driftTwo 40s 1s linear infinite forwards;
}

@keyframes drift {
from{transform: translateX(-255px);}
to {transform: translateX(1350px);}
}

@keyframes driftTwo {
  from{transform: translateX(255px);}
  to {transform: translateX(-1350px);}
  }

#SchutzParalax {
  width: 100vw!important;
  margin: 10vw 0 1px 50vw;
  overflow: hidden!important;
}

#ClockParalax {
  width: 120%;
  margin: 12vw 0 0 55vw;
}

* {
  max-width: 100vw!important;
max-height: auto;
 
}

details summary::-webkit-details-marker {
  display:none!important;
}

a:focus{
  outline: transparent!important;
}

a:active{
  outline: transparent!important;
}

a:hover{
  outline: transparent!important;
}

a{
  outline: transparent!important;
}

#mainHomeCont {
    background: linear-gradient(#55cccc, #55aeae, black);
}

button > .static {
  position:absolute;
  background: white;
}



button > .static:hover {
  opacity:0!important;
}

#logoutbutton-in:hover {
opacity: 0!important;
}

#logoutbutton-out:hover {
  opacity: 1!important;
  }

@media only screen and (max-width: 650px) {
  #dashboard_h1 {
   margin: 6vw 4vw 6vw 1.3vw!important;
  }
}

@media only screen and (max-width: 650px) {
  #user-settings_h1 {
   margin: 0 0 0 5vw!important;
  }
}

@media only screen and (max-width: 600px) {
  #user-settings_h1 {
   margin: 0 0 0 5vw!important;
  }
}

@media only screen and (max-width: 600px) {
  #settings-grid {
   margin: 0 0 0 5vw!important;
  }
}


@media print {
  #table_invoice {page-break-before: always;}
}



@media only screen and (max-width: 650px) {
  #projects_container {
   width: 300px!important;
  }
}

/*

@media only screen and (max-width: 600px) {
  # {
   margin: 0 0 0 5vw!important;
  }
}



@media only screen and (max-width: 600px) {
  # {
   margin: 0 0 0 5vw!important;
  }
}



@media only screen and (max-width: 600px) {
  # {
   margin: 0 0 0 5vw!important;
  }
} */




/*  */