<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SUMMIT Professional Service Tracking</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="./assets/css/mock-dashboard.css">
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="./index.html"><h3>SUMMIT Pro</h3></a>
                </div>

                <ul class="list-unstyled components">
                    <p>MENU</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-project-diagram"></i><span id="menu-spacing">Projects</span></a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Project 1</a></li>
                            <li><a href="#">Project 2</a></li>
                            <li><a href="#">Project 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope-square"></i><span id="menu-spacing"> Messages</span></a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Approved - Thanks!</a></li>
                            <li><a href="#">Can you fix the color on...</a></li>
                            <li><a href="#">I need an update!!!!</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#clientSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-address-card"></i><span id="menu-spacing">Client List</span></a>
                        <ul class="collapse list-unstyled" id="clientSubmenu">
                            <li><a href="#">Toyota</a></li>
                            <li><a href="#">Qualcom</a></li>
                            <li><a href="#">WD-40</a></li>
                            <li><a href="#">Nike</a></li>
                        </ul>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"><i class="fas fa-info-circle"></i><span id="menu-spacing">About Us</span></a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li><a href="#">Developer 1</a></li>
                            <li><a href="#">Developer 2</a></li>
                            <li><a href="#">Developer 2</a></li>
                            <li><a href="#">Developer 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#helpSchema" data-toggle="collapse" aria-expanded="false"><i class="fas fa-question-circle"></i><span id="menu-spacing">Support</span></a>
                        <ul class="collapse list-unstyled" id="helpSchema">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Dashboard processes</a></li>
                            <li><a href="#">Community Discussions</a></li>
                            <li><a href="mailto:info@summitpro.io">Support</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Repository" data-toggle="collapse" aria-expanded="false"><i class="fab fa-github"></i><span id="menu-spacing">Repo</span></a>
                        <ul class="collapse list-unstyled" id="Repository">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Languages</a></li>
                            <li><a href="#">Community Discussions</a></li>
                            <li><a href="mailto:info@summitpro.io">Support</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="./invoice.html" target="_blank" class="download"><i class="fas fa-dollar-sign"></i> <span id="sendInvoice">Send Invoice</span></a></li>
                    <li><a href="/" class="article"><i class="fas fa-pager"></i> Contact Us</a></li>
                </ul>
                <p id="thisTeam">© 2019 | This Team</p>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="nav-bar">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a id="navbar-links" href="./index.html">Home</a></li>
                                <li><a id="navbar-links" href="#">Projects</a></li>
                                <li><a id="navbar-links" href="#">New Client</a></li>
                                <li><a id="navbar-links" href="./dashboard.html">Dashboard</a></li>
                                <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="slow" data-on="Log In" data-off="Log Out">
                            </ul>
                        </div>
                    </div>

                </nav>

         <details><summary><h2 class="dropdown-titles">Current Open Projects</h2></summary> 
            <div class="container" id="dropdown-content">

                    <div class="row" id="grid-positioning">
                            <div class="col" id="open-proj-grid">
                                    <ul>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            
                                            </ul>
                            </div>
                            <div class="col" id="open-proj-grid">
                                    <p>&nbsp;</p>
                                  </div>
                                  <div class="col" id="open-proj-grid">
                                    <ul>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                                            
                                            </ul>
                            </div>
                          </div>
             </div></details>
                <div class="line"></div>

                <details><summary><h2 class="dropdown-titles">Open Milestones</h2></summary> 
                    <div class="container" id="dropdown-content">
<ul>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>

</ul></div></details>
                <div class="line"></div>

                <details><summary><h2 class="dropdown-titles">Open Tasks</h2></summary> 
                    <div class="container" id="dropdown-content">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    
                    </ul></div></details>
                                    <div class="line"></div>

                    <details><summary><h2 class="dropdown-titles">Pending Tasks</h2></summary> 
                        <div class="container" id="dropdown-content">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
                    
                    </ul></div></details>
                            </div>
        </div>
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>
         
    </body>
</html>