* {
    font-family: 'Montserrat', sans-serif;
    /* color: rgba(0,0,0,.5); */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
}

.img-responsive {
    background:url("../images/background-img-02.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background: none !important;
}
.navbar-nav {
    border-left: .1rem solid rgba(0,0,0,.5);
}
#logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 0 3rem;
    color: white;
}
.nav-link {
    margin: 0 1rem;
}
.navbar-toggler {
    margin: 0 2rem;
    border: .1rem solid rgba(0,0,0,.5);
}
.nav-item {
    font-size: 1.4rem;
    font-weight: bold;
}

#hero {
    margin: 2rem auto;
}

.jumbotron {
    padding: 0;
    margin: 5rem auto 0 12rem;
    background: none;
}

button {
    border-radius: 12px !important;
    font-weight: 500 !important;
}

h1 {
    /* margin: 2rem auto; */
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    color: #fbe887;

}

h2 {
    font-weight: 500;
    margin: 1rem auto;
}

h4 {
    line-height: 1.5;
    font-weight: 400;
    color: white;
    text-align: left;
    margin: 1rem auto 2rem auto;
}

h6 {
    color: #555;
}

p {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.icon {
    /* opacity: 0.6; */
    width: 5rem;
    float: left;
    margin-right: 1.6rem;
}

#cont-wide {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#features-section {
    background: rgba(255, 255, 255);
    /* background-image: url("../images/background-img-05.png"); */
    margin-top: 6rem;
}

.feat-detail {
    width: 7rem;
}

.feature {
    position: relative;
    left: 16px;
    bottom: 50px;
}

.btn-outline-light {
    margin-left: 1rem;
}

footer {

}

/* mediaquery fixed the table content from going out of the card bounds on small devices*/
@media only screen and (max-width: 992px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

