

input {
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
    overflow: visible;
}

.text input {
    width: 100%;
    font-size: 0.9em;
    text-align: left;
    color: rgb(10, 182, 182);
    background-color: transparent;
    outline: none;
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    border-image: initial;
    overflow: visible;
}



.add-more-btn {
    box-sizing: border-box;
    width: 100%;
    max-height: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(13, 211, 201);
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s;
}

.table-container:hover .add-more-btn {
    max-height: 3em;
}

.add-more-btn span {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 0px;
}

#text-left {
  margin: 100px 0 0 18vw;
  position: absolute;
  top: 0;
  left: 0;
  Width: 60vw;
}


#text-right {
  margin: 00px 0 0 0vw;
  position: absolute;
  top: 760px;
  left: -3vw;
  Width: 60vw;
}

.table-container {
  margin: 0 0 200px 0vw;
  position: absolute;
  top: 1220px;
  left: 17.5vw;
  Width: 60vw;
}

/* ------------    E N D     ------------ */
/* 
@media only screen and (max-width: 1080px) {
    .table-container {
     width: 400px!important;
     height: auto;
     margin: 1250px 0 0 180px!important;
     overflow-x: scroll;
    }
  }

  @media only screen and (max-width: 1080px) {
     #text-right {
     width: 400px!important;
     height: auto;
     left: 0;
     margin: 900px 0 0 340px !important;
    }
  }

  @media only screen and (max-width: 1080px) {
    #text-left {
    width: 400px!important;

    margin: 0px 0 0 210px!important;
   }
 }

 @media only screen and (max-width: 1080px) {
    .company-info {
    width: 400px!important;

    margin: 100px 0 0 0;
   }
 }

 @media only screen and (max-width: 600px) {
  .table-container {
   width: 400px!important;
   height: auto;
   margin: 1200px 0 0 0px!important;
   overflow-x: scroll;
  }
}

@media only screen and (max-width: 600px) {
   #text-right {
   width: 400px!important;
   height: auto;
   left: -100px;
   margin: 900px 0 0 150px !important;
  }
}

@media only screen and (max-width: 600px) {
  #text-left {
  width: 400px!important;

  margin: 0px 0 0 0px!important;
 }
}

@media only screen and (max-width: 600px) {
  .company-info {
  width: 400px!important;

  margin: 100px 0 0 0;
 }
}

 @media only screen and (max-width: 600px) {
   * {
   font-size: 10px;
   }
 }


 @media only screen and (max-width: 600px) {
    #print-btn {
    background-color: #222222 !important;
    margin: 180px 0 0 0;
    }
  }

 @media only screen and (max-width: 600px) {
    #print-btn {
    background-color: #222222 !important;
    margin: 180px 0 0 0;
    }
  } */

