

input {
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
    overflow: visible;
}

.text input {
    width: 100%;
    font-size: 0.9em;
    text-align: left;
    color: rgb(10, 182, 182);
    background-color: transparent;
    outline: none;
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    border-image: initial;
    overflow: visible;
}



.add-more-btn {
    box-sizing: border-box;
    width: 100%;
    max-height: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(13, 211, 201);
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s;
}

.table-container:hover .add-more-btn {
    max-height: 3em;
}

.add-more-btn span {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 0px;
}

#text-left {
  margin: 100px 0 0 18vw;
  position: absolute;
  top: 0;
  left: 0;
  Width: 60vw;
}


#text-right {
  margin: 00px 0 0 0vw;
  position: absolute;
  top: 760px;
  left: -3vw;
  Width: 60vw;
}

.table-container {
  margin: 0 0 200px 0vw;
  position: absolute;
  top: 1220px;
  left: 17.5vw;
  Width: 60vw;
}

/* ------------    E N D     ------------ */

@media only screen and (max-width: 1080px) {
    #text-left {
     width: 400px!important;
     height: auto;
     margin: 34vw 0 0 32vw!important;
     overflow-x: scroll;
    }
  }



  @media only screen and (max-width: 1080px) {
    #text-right {
     width: 400px!important;
     height: auto;
     margin: 34vw 0 0 35.5vw!important;
     overflow-x: scroll;
    }
  }

  @media only screen and (max-width: 1080px) {
    .table-container {
     width: 400px!important;
     height: auto;
     margin: 13vw 0 10vh 15vw!important;
     overflow-x: scroll;
    }
  }

  @media only screen and (max-width: 600px) {
    #text-left {
     width: 400px!important;
     height: auto;
     margin: 34vw 0 0 16vw!important;
     overflow-x: scroll;
    }
  }

  @media only screen and (max-width: 600px) {
    #text-right {
     width: 400px!important;
     height: auto;
     margin: 34vw 0 0 18vw!important;
     overflow-x: scroll;
    }
  }

  @media only screen and (max-width: 600px) {
    .table-container {
     width: 400px!important;
     height: auto;
     margin: 16vw 0 10vh -4vw!important;
     overflow-x: scroll;
    }
  }

 