body {
  background-image: url("https://i.pinimg.com/originals/8f/b0/7d/8fb07d1d8660048cc089a07047e7e77d.jpg");
  align-items: center;
  justify-content: center;
  font-family: 'Bitter', serif;
  font-size: calc(10px + 2vmin);
}
